<mat-toolbar class="header" color="primary">
	<div class="flex items-center cursor-pointer" (click)="goToHome()">
		<img src="./assets/icons/Logo.svg" height="30" width="30" alt="Dentalyzer Logo" />
		<span class="pl-4 text-xl">Dentalyzer</span>
	</div>

	<button mat-icon-button [matMenuTriggerFor]="menu" class="flex justify-center items-center w-16 h-16">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu" xPosition="before" direction="ltr">
		<button mat-menu-item [matMenuTriggerFor]="languages">
			<mat-icon>language</mat-icon>
			<span>{{ 'Header.Menu.Language' | translate }}</span>
		</button>
		<button mat-menu-item (click)="logout()">
			<mat-icon>exit_to_app</mat-icon> <span>{{ 'Header.Menu.Logout' | translate }}</span>
		</button>
	</mat-menu>
	<mat-menu #languages="matMenu">
		<button mat-menu-item (click)="setLanguage(language.German)">
			{{ 'Header.Menu.German' | translate }}
		</button>
		<button mat-menu-item (click)="setLanguage(language.English)">
			{{ 'Header.Menu.English' | translate }}
		</button>
	</mat-menu>
</mat-toolbar>
