<div class="dent-page-content">
	<div id="analysisFrsContainer" #analysisFrsContainer>
		<canvas
			*ngIf="imageSubject$ | async; else showFileUpload"
			id="analysisFrsCanvas"
			#analysisFrsCanvas
			(pointerdown)="onPointerDown($event)"
			(pointerup)="onPointerUp($event)"
			(pointermove)="onPointerMove()"
			(pointerout)="onPointerOut()"
			(pointercancel)="onPointerCancel()"
		></canvas>
	</div>

	<ng-template #showFileUpload>
		<div class="dent-file-upload-container">
			<dent-file-upload (uploadedFiles)="onUploadFiles($event)"></dent-file-upload>
		</div>
	</ng-template>
</div>
