<div class="dent-page-content dent-frs-content">
	<div class="dent-analysis-canvas" id="analysisFrsContainer" #analysisFrsContainer>
		<canvas
			*ngIf="imageSubject$ | async; else showFileUpload"
			id="analysisFrsCanvas"
			#analysisFrsCanvas
			class="dent-analysis-frs-canvas"
			(pointerdown)="onPointerDown($event)"
			(pointerup)="onPointerUp($event)"
			(pointermove)="onPointerMove()"
			(pointerout)="onPointerOut()"
			(pointercancel)="onPointerCancel()"
		></canvas>
		<ng-template #showFileUpload>
			<div class="dent-file-upload-container">
				<dent-file-upload (uploadedFiles)="onUploadFiles($event)"></dent-file-upload>
			</div>
		</ng-template>
	</div>
	<div class="dent-analysis-menu">
		<dent-tab-menu [analysis]="(analysis$ | async) ?? undefined"></dent-tab-menu>
	</div>
</div>
