<table mat-table [dataSource]="listItems" multiTemplateDataRows class="w-full block">
	<ng-container matColumnDef="{{ columnsToDisplayWithExpand[0] }}">
		<td mat-cell *matCellDef="let item">
			<mat-icon *ngIf="item.isSet">check_circle_outline</mat-icon>
		</td>
	</ng-container>
	<ng-container matColumnDef="{{ columnsToDisplayWithExpand[1] }}">
		<td mat-cell *matCellDef="let item">
			{{ (item.id | frsMarkTypeTranslation).name | translate }}
		</td>
	</ng-container>
	<ng-container matColumnDef="{{ columnsToDisplayWithExpand[2] }}">
		<td mat-cell *matCellDef="let item">
			<button mat-icon-button [disabled]="!item.isSet || item.isGenerated" (click)="onRemoveMark(item.id)">
				<mat-icon>delete</mat-icon>
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let item" [attr.colspan]="columnsToDisplayWithExpand.length">
			<div class="flex" [@detailExpand]="item.id === selectedItem?.id ? 'expanded' : 'collapsed'">
				<img [src]="item.id | frsMarkTrainingImage" [alt]="item.id" class="w-28 h-28" />
				<div class="p-2">{{ (item.id | frsMarkTypeTranslation).trainingText | translate }}</div>
			</div>
		</td>
	</ng-container>

	<tr
		mat-row
		*matRowDef="let item; columns: columnsToDisplayWithExpand"
		class="dent-mark-row"
		[class.dent-expanded-row]="selectedItem?.id === item.id"
		(click)="onItemClick(item)"
	></tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0"></tr>
</table>
