tr.dent-mark-row:not(.dent-expanded-row):hover {
	background: whitesmoke;
}

tr.dent-mark-row:not(.dent-expanded-row):active {
	background: #efefef;
}

.mat-column-markDescription {
	width: 100% !important;
}
