<div class="page flex gap-3" *ngIf="{ analysis: analysis$ | async } as data">
	<div id="pkmAnalysisContainer" class="analysis-canvas relative" #pkmAnalysisContainer>
		<canvas
			id="analysisPkmCanvas"
			#analysisPkmCanvas
			*ngIf="data.analysis?.modelId; else showFileUpload"
			class="w-full h-full shadow-card absolute"
			(pointerdown)="onPointerDown($event)"
			(pointerup)="onPointerUp($event)"
			(pointerout)="onPointerOut($event)"
			(pointercancel)="onPointerCancel()"
		></canvas>
		<dent-model-view-buttons class="absolute" />
	</div>
	<ng-template #showFileUpload>
		<div class="flex-center full-size">
			<dent-file-upload (uploadedFiles)="loadFile($event)" [acceptFileTypes]="supportedFileTypes"></dent-file-upload>
		</div>
	</ng-template>
	<div class="analysis-sidebar">
		<dent-measurement-list />
		<dent-analysis-buttons
			[disabled]="!!data.analysis"
			(resetAnalysis)="removeAnalysis()"
			(downloadPdf)="onDownloadPdf()"
		></dent-analysis-buttons>
	</div>
</div>
