<table mat-table [dataSource]="calculations" multiTemplateDataRows class="w-full block">
	<ng-container matColumnDef="{{ columnsToDisplay[0] }}">
		<th mat-header-cell *matHeaderCellDef>
			{{ 'CalculationList.Description' | translate }}
		</th>
		<td mat-cell *matCellDef="let calculation">
			{{ (calculation.id | frsCalculationTypeTranslation).abbreviation | translate }}
		</td>
	</ng-container>

	<ng-container matColumnDef="{{ columnsToDisplay[1] }}">
		<th mat-header-cell *matHeaderCellDef>{{ 'CalculationList.Value' | translate }}</th>
		<td mat-cell *matCellDef="let calculation">
			<ng-container *ngIf="calculation.value !== undefined">
				<span class="whitespace-nowrap">{{ calculation.value }} {{ calculation.unit | frsCalculationUnit }}</span>
			</ng-container>
		</td>
	</ng-container>

	<ng-container matColumnDef="{{ columnsToDisplay[2] }}">
		<th mat-header-cell *matHeaderCellDef>
			{{ 'CalculationList.TargetValue' | translate }}
		</th>
		<td mat-cell *matCellDef="let calculation">
			<ng-container
				*ngIf="calculation.targetValueMaleOrAll !== undefined && calculation.targetValueFemale === undefined"
			>
				<span class="whitespace-nowrap">
					{{ calculation.targetValueMaleOrAll }} {{ calculation.unit | frsCalculationUnit }}
				</span>
				±
				<span class="whitespace-nowrap">{{ calculation.deviation }} {{ calculation.unit | frsCalculationUnit }}</span>
			</ng-container>
			<ng-container
				*ngIf="calculation.targetValueMaleOrAll !== undefined && calculation.targetValueFemale !== undefined"
			>
				<div class="flex flex-col">
					<span>
						M:
						<span class="whitespace-nowrap"
							>{{ calculation.targetValueMaleOrAll }} {{ calculation.unit | frsCalculationUnit }}
						</span>
						±
						<span class="whitespace-nowrap">
							{{ calculation.deviation }} {{ calculation.unit | frsCalculationUnit }}
						</span>
					</span>

					<span>
						F:
						<span class="whitespace-nowrap">
							{{ calculation.targetValueFemale }} {{ calculation.unit | frsCalculationUnit }}
						</span>
						±
						<span class="whitespace-nowrap">
							{{ calculation.deviation }} {{ calculation.unit | frsCalculationUnit }}
						</span>
					</span>
				</div>
			</ng-container>
		</td>
	</ng-container>

	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let calculation" [attr.colspan]="columnsToDisplay.length">
			<div class="flex flex-col p-4" [@detailExpand]="calculation == expandedElement ? 'expanded' : 'collapsed'">
				<p class="mb-2">
					{{ (calculation.id | frsCalculationTypeTranslation).description | translate }}
				</p>

				<p *ngIf="(calculation.id | frsCalculationTypeTranslation).interpretation.equals | translate as equals">
					<span class="ml-2">=</span>{{ equals }}
				</p>
				<p *ngIf="(calculation.id | frsCalculationTypeTranslation).interpretation.smaller | translate as smaller">
					<span class="ml-2">&lt;</span>{{ smaller }}
				</p>
				<p *ngIf="(calculation.id | frsCalculationTypeTranslation).interpretation.greater | translate as greater">
					<span class="ml-2">&gt;</span>{{ greater }}
				</p>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
	<tr
		mat-row
		*matRowDef="let element; columns: columnsToDisplay"
		class="dent-calculation-row"
		[class.dent-expanded-row]="expandedElement === element"
		(click)="expandedElement = expandedElement === element ? null : element"
	></tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="h-0"></tr>
</table>
