tr.dent-calculation-row:not(.dent-expanded-row):hover {
	background: whitesmoke;
}

tr.dent-calculation-row:not(.dent-expanded-row):active {
	background: #efefef;
}

.mat-column-calculationTargetValue {
	width: 30%;
	word-break: break-all;
}

.mat-column-calculationValue {
	width: 25%;
	word-break: break-all;
}

.mat-column-calculationDescription {
	width: 35%;
	word-break: break-all;
}
