<mat-tab-group class="w-full" animationDuration="0ms" (selectedTabChange)="onSelectedTabChange($event)">
	<mat-tab [label]="'TabMenu.Marker' | translate">
		<ng-template matTabContent>
			<dent-marker-list *ngIf="analysis" [marks]="analysis.marks"></dent-marker-list>
		</ng-template>
	</mat-tab>
	<mat-tab [label]="'TabMenu.Edges' | translate">
		<ng-template matTabContent>
			<dent-edges-list *ngIf="analysis" [edges]="analysis.edges"></dent-edges-list>
		</ng-template>
	</mat-tab>
	<mat-tab [label]="'TabMenu.Calculations' | translate">
		<ng-template matTabContent>
			<dent-calculations-list *ngIf="analysis" [calculations]="analysis.calculations"></dent-calculations-list>
		</ng-template>
	</mat-tab>
</mat-tab-group>
