<mat-tab-group class="dent-tab-group" animationDuration="0ms">
	<mat-tab [label]="'TabMenu.Marker' | translate">
		<ng-template matTabContent>
			<dent-marker-list *ngIf="analysis" [marks]="analysis.marks"></dent-marker-list>
		</ng-template>
	</mat-tab>
	<mat-tab [label]="'TabMenu.Edges' | translate">
		<ng-template matTabContent>
			<dent-edges-list *ngIf="analysis"></dent-edges-list>
		</ng-template>
	</mat-tab>
	<mat-tab [label]="'TabMenu.Calculations' | translate"
		><ng-template matTabContent> Calculations goes here </ng-template>
	</mat-tab>
</mat-tab-group>
