<div class="page flex w-full gap-3" *ngIf="{ analysis: analysis$ | async } as data">
	<div class="analysis-canvas" id="analysisFrsContainer" #analysisFrsContainer>
		<canvas
			*ngIf="data.analysis?.image; else showFileUpload"
			id="analysisFrsCanvas"
			#analysisFrsCanvas
			class="shadow-card h-full w-full"
			(pointerdown)="onPointerDown($event)"
			(pointerup)="onPointerUp($event)"
			(pointerout)="onPointerOut($event)"
			(pointercancel)="onPointerCancel()"
		></canvas>
		<ng-template #showFileUpload>
			<div class="h-full w-full">
				<dent-file-upload
					(uploadedFiles)="onUploadFiles($event)"
					[acceptFileTypes]="supportedFileTypes"
				></dent-file-upload>
			</div>
		</ng-template>
	</div>
	<div class="analysis-sidebar shadow-card">
		<dent-tab-menu
			[analysis]="data.analysis ?? undefined"
			(tabChanged)="onTabChanged()"
			[selectedMarkId]="(selectedMarkId$ | async) ?? undefined"
		></dent-tab-menu>
		<dent-analysis-buttons
			[disabled]="!!data.analysis"
			(downloadPdf)="onDownloadPdf()"
			(resetAnalysis)="onResetAnalysis()"
		></dent-analysis-buttons>
	</div>
</div>
