<div class="page dent-frs-content" *ngIf="{ analysis: analysis$ | async } as data">
	<div class="analysis-canvas" id="analysisFrsContainer" #analysisFrsContainer>
		<canvas
			*ngIf="data.analysis?.image; else showFileUpload"
			id="analysisFrsCanvas"
			#analysisFrsCanvas
			class="dent-frs-analysis-canvas"
			(pointerdown)="onPointerDown($event)"
			(pointerup)="onPointerUp($event)"
			(pointerout)="onPointerOut($event)"
			(pointercancel)="onPointerCancel()"
		></canvas>
		<ng-template #showFileUpload>
			<div class="dent-file-upload-container">
				<dent-file-upload (uploadedFiles)="onUploadFiles($event)"></dent-file-upload>
			</div>
		</ng-template>
	</div>
	<div class="analysis-sidebar">
		<dent-tab-menu
			[analysis]="data.analysis ?? undefined"
			(tabChanged)="onTabChanged()"
			[selectedMarkId]="(selectedMarkId$ | async) ?? undefined"
		></dent-tab-menu>
	</div>
</div>
