$light: (
	50: #e0e9ee,
	100: #b3c9d4,
	200: #81acc2,
	300: #4d809a,
	400: #266585,
	500: #004a6f,
	600: #004367,
	700: #003a5c,
	800: #003252,
	900: #002240,
	A100: #f3c456,
	A200: #edac15,
	A400: #da9b0a,
	A700: #c48900,
	contrast: (
		50: #333,
		100: #333,
		200: #333,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #333,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
		D100: #00000042,
	),
);

$dark: (
	50: #e1e3e4,
	100: #b3b9bd,
	200: #808b91,
	300: #4d5d64,
	400: #022435,
	500: #011722,
	600: #01141e,
	700: #011119,
	800: #010d14,
	900: #00070c,
	A100: #cc9515,
	A200: #a77707,
	A400: #7a5603,
	A700: #412e03,
	contrast: (
		50: #333,
		100: #333,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #ffffff,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
		D100: #ffffff4d,
	),
);

$warn: (
	50: #fce9e3,
	100: #f8c9ba,
	200: #f3a58c,
	300: #ee805e,
	400: #ea653c,
	500: #df4615,
	600: #e34316,
	700: #df3a12,
	800: #b62a0c,
	900: #a72310,
	A100: #fffefe,
	A200: #ffd0cb,
	A400: #ffa298,
	A700: #ff8b7f,
	contrast: (
		50: #333,
		100: #333,
		200: #333,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #333,
		A200: #333,
		A400: #333,
		A700: #333,
	),
);
